@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');

:root {
    --primary-color: #fefae0 ;  
    --secundary-color: #e9edc9 ;
    --accent-color: #8cff98 ; 
    --additional-accent-color: #483519 ; 
   
    --heading-font: "asap", monospace ; 
    --paragraph-font: "asap", monospace ;  ;  
    
    --nav-background-color: #D5ECD4;  
    --nav-link-color: #000 ;
    --nav-hover-link-color: #000 ;
    --nav-hover-background-color: #A1B0AB ; 
}

h1 h2 h3 h4 h5 h6 {
    font-family: var(--heading-font);
    color: var(--primary-color); 

}

header {
    display: grid;
    grid-template-columns: 300px 2fr 2fr;
    align-items: center;
    justify-items: center;
    margin: 1rem;
    padding: 20px;
}

.navi {
    display: flex;
    justify-self: center;
}

nav a{
    display: block;
    padding: 15px;
    width: 60px;
    text-decoration: none;
    color: #000;
    font-size: 20px;

}
p { 
    padding: 20px;
 }

main {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 0px;
    background: var(--primary-color);   
}


.hero {
   position: relative ;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 1px;
    right: 43%;
    background-color: black;
    opacity: 50%;
    color: white;

}

article {
    position: absolute;
    background-color: #000;
    top: 60px ;
	left: 10px;
	background: radial-gradient(#eee, #4567aa);
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: 70%;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

#paragraph1 {
    grid-column: 1
}

.history h2 {
    position: absolute;
    background-color: black;
    opacity: 50%;
    color: white;
    justify-self: center;

}

.history img {
    align-items: center;
    width: 400px;
    margin: 60px;

}
.adventure {
    display: flex;
}

.adventure h2 {
    position: absolute;
    background-color: black;
    opacity: 50%;
    color: white;
    margin: 40px;
    top: 130%;
    right: 50%;
    justify-self: center
}

.adventure img {
    max-width: 300px;
    max-height: 100px;
}
.stats {
    display: flex;
    justify-self: center;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
  }

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }

#abc {
    flex-direction: column;
    align-self: flex-end;
}  


.stats img {
    float: right;
    width: 220px;
    height: 8rem;
    padding: 5px;
}

footer {
    display: block;
    width: 960px;
}

.social {
    display: flex;
    float: right;
    
}
.social img {
    width: 50px;
}

iframe {
    float: right;
}

form {
    display: flex;
    width: 850px;
    margin: 7px;
    padding: 2px;
    border: black solid 1px;
    border-radius: 0.5rem;
    background-color: whitesmoke;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .4rem;
    margin: 6px;
    padding: 4px;
    align-self: center;
    border: 1px solid;
}

label {
    text-align: left;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 1px;
    font-size: 1.1rem;

}
button {
    margin: 3px;
    display: grid;
    width: 6rem;
    justify-self: flex-end;
    
}

.itext {
    width: 500px;
}

button:hover {
    background-color: darkgreen;
}


textarea {
    height: 127px;
    width: 425px;
}

.emplo {
    display: flex;
    margin: 10px;
    padding: 100px;
    justify-content: space-around;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.row h4 {
    position: relative;
}
.raft {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    float: right;
    position: relative;
    margin: 30px;
}

th,
td {
      border: 1px solid rgb(160 160 160);
      padding: 8px 10px;
    }


.book {
    width: 300px;
    height: 50px;
    font-size: 2rem;
    text-decoration: none;
    clear: both;
    display: block;
    margin: auto;
    

    
    
    

    
}

.home {
    position: relative ;
 }
 
.home img {
     display: block;
     width: 100%;
     height: auto;
 }
 
.home h1 {
     position: absolute;
     bottom: 80px;
     right: 200px;
     color: white;
 }
.home button {
    top: 330px;
    right: 70px;
    position: absolute;
}

.sideimage {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 18px;

}

.sideimage img {
    width: 480px;
    margin: 20px;
    height: 500px;
    float: left;
    display: block;
    position: relative;
}
