* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}
main {
    max-width: 840px

}
main img {
    width: 150px;
    height: auto;
    float: right;

}
p { padding: 0;}

aside {
    width: 20rem;
    margin: 3em;
    border: 2px solid black;
    padding: 20px;
    background: darkslategrey;
    color: aliceblue;
    position: relative;
}
aside img {
    width: 200px;
    height: auto;

}

aside h2 {
    position: absolute;
    top: 25px;
    left: 100px
}
footer {
    margin-top: 50px;
    border-top: 3px;
    text-align: center;
}

/* Class selector */

.box {
    margin: 1rem;
    padding: 1rem, ;
    border: 1px solid #000;
    background-color: #d3c073;
    color: #000;
}

.indent {
    padding-left: 2rem;
}

